<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<div class="container mx-auto mt-36">

    <div class="bg-grayish-blue text-white rounded-t-lg flex justify-between items-center px-6 py-3">

        <h3 class="text-lg text-center flex-grow">Usuarios</h3>

        <button class="bg-yellow-500 text-white px-4 py-2 rounded-lg hover:bg-yellow-600 ml-auto" (click)="openModal()">
            Añadir <i class="fas fa-plus ml-2"></i>
        </button>

    </div>

    <app-general-table [columns]="columnNames" [data]="users" [editAction]="editCinema" [deleteAction]="deleteCinema"
        class="w-full table-auto bg-white shadow-lg rounded-b-lg"></app-general-table>
</div>

<!-- Modal emergente -->
<div *ngIf="isModalOpen"
    class="fixed inset-0 bg-white bg-opacity-25 flex items-center justify-center transition-opacity duration-300 ease-in-out"
    [ngClass]="{'backdrop-blur-sm': isModalOpen}">
    <div class="bg-grayish-blue py-20 px-20 rounded-lg shadow-lg relative w-[48rem] my-auto transition-transform transform scale-95"
        *ngIf="isModalOpen" [ngClass]="{'scale-100': isModalOpen}">
        <button (click)="closeModal()" class="absolute top-2 right-4 text-white text-xl">
            <i class="fas fa-times"></i>
        </button>
        <form class="space-y-3 flex flex-col items-center justify-center" [formGroup]="formSignUpUser">
            <div class="flex flex-row">
                <div class="mt-2 w-auto">
                    <app-general-input id="email" name="email" type="email" autocomplete="email" [required]="true"
                        formControlName="email" placeholder="Correo electrónico" />
                </div>
                <div class="mt-2 w-auto ml-2">
                    <app-general-input id="name" name="name" type="name" autocomplete="name" [required]="true"
                        formControlName="name" placeholder="Nombre" />
                </div>
            </div>
            <div class="flex flex-row">
                <div class="w-auto">
                    <app-general-input id="lastname1" name="lastname1" type="lastname1" autocomplete="lastname1"
                        [required]="true" formControlName="lastname1" placeholder="Apellido 1" />
                </div>
                <div class="w-auto ml-2">
                    <app-general-input id="lastname2" name="lastname2" type="lastname2" autocomplete="lastname2"
                        [required]="false" formControlName="lastname2" placeholder="Apellido 2" />
                </div>
            </div>
            <div class="flex flex-row">
                <div class="w-auto">
                    <app-general-input id="password" name="password" type="password" autocomplete="password"
                        [required]="true" formControlName="password" placeholder="Contraseña" />
                </div>
                <div class="w-auto ml-2">
                    <app-general-input id="repeatPassword" name="repeatPassword" type="password"
                        autocomplete="repeatPassword" [required]="true" formControlName="repeatPassword"
                        placeholder="Repetir Contraseña" />
                </div>
            </div>
            <div class="flex flex-row">
                <a [routerLink]="['']" class="flex justify-center font-bold text-white mt-1 w-auto">
                    ¿Ya tienes una cuenta?
                </a>
                <a [routerLink]="['/sign-up-cinema']" class="flex justify-center font-bold text-white mt-1 w-auto ml-2">
                    ¿Deseas registrar un cine?
                </a>
            </div>
            <div>
                <app-general-button text="Registrar" color="bg-strong-red" colorHover="hover:bg-light-red" class="mt-2"
                    (click)="signUpUser()" />
            </div>
        </form>
    </div>
</div>