<div class="grid grid-cols-2 divide-x h-screen">
    <div class="h-full flex flex-col justify-center">
        <div class="flex flex-col items-center">
            <h1 class="text-lg font-bold text-grayish-blue text-center">¡Bienvenido al sistema de gestión de salas de
                cine!</h1>
            <div class="mt-2">
                <img src="img/movie-theater-seats.png" alt="Palomitas y distintos objetos de cine" class="w-96">
            </div>
            <p class="text-grayish-blue mt-2 text-center font-semibold">
                Regístrate para disfrutar de nuestro servicio de<br /> gestión de salas de cine.
            </p>
        </div>
    </div>
    <div class="h-full bg-grayish-blue flex flex-col justify-center">
        <div>
            <img class="mx-auto w-96" src="img/movie-theater-logo.png" alt="Movie Theather Management Logo">
        </div>
        <form class="space-y-3 flex flex-col items-center justify-center" [formGroup]="formSignUpUser">
            <div class="flex flex-row">
                <div class="mt-2 w-auto">
                    <app-general-input id="email" name="email" type="email" autocomplete="email" [required]="true"
                        formControlName="email" placeholder="Correo electrónico" [invalid]="invalidEmail" />
                </div>
                <div class="mt-2 w-auto ml-2">
                    <app-general-input id="name" name="name" type="name" autocomplete="name" [required]="true"
                        formControlName="name" placeholder="Nombre" [invalid]="invalidName" />
                </div>
            </div>
            <div class="flex flex-row">
                <div class="w-auto">
                    <app-general-input id="lastname1" name="lastname1" type="lastname1" autocomplete="lastname1"
                        [required]="true" formControlName="lastname1" placeholder="Apellido 1"
                        [invalid]="invalidLastName1" />
                </div>
                <div class="w-auto ml-2">
                    <app-general-input id="lastname2" name="lastname2" type="lastname2" autocomplete="lastname2"
                        [required]="false" formControlName="lastname2" placeholder="Apellido 2"
                        [invalid]="invalidLastName2" />
                </div>
            </div>
            <div class="flex flex-row">
                <div class="w-auto">
                    <app-general-input id="password" name="password" type="password" autocomplete="password"
                        [required]="true" formControlName="password" placeholder="Contraseña"
                        [invalid]="invalidPassword" />
                </div>
                <div class="w-auto ml-2">
                    <app-general-input id="repeatPassword" name="repeatPassword" type="password"
                        autocomplete="repeatPassword" [required]="true" formControlName="repeatPassword"
                        placeholder="Repetir Contraseña" [invalid]="invalidRepeatPassword" />
                </div>
            </div>
            <div class="flex flex-row">
                <a [routerLink]="['']" class="flex justify-center font-bold text-white mt-1 w-auto">
                    ¿Ya tienes una cuenta?
                </a>
                <a [routerLink]="['/sign-up-cinema']" class="flex justify-center font-bold text-white mt-1 w-auto ml-2">
                    ¿Deseas registrar un cine?
                </a>
            </div>
            <div>
                <app-general-button text="Registrar" color="bg-strong-red" colorHover="hover:bg-light-red" class="mt-2"
                    (click)="signUpUser()" />
            </div>
        </form>
    </div>
</div>