<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<div class="container mx-auto mt-20">

    <div class="bg-grayish-blue text-white rounded-t-lg flex justify-between items-center px-6 py-3">

        <h3 class="text-lg text-center flex-grow">Salas</h3>

        <button class="bg-yellow-500 text-white px-4 py-2 rounded-lg hover:bg-yellow-600 ml-auto" (click)="openModal()">
            Añadir <i class="fas fa-plus ml-2"></i>
        </button>

    </div>

    <app-general-table [columns]="columnNames" [data]="theaters" [editAction]="editTheater"
        [deleteAction]="deleteTheater">
    </app-general-table>
</div>

<!-- Modal emergente -->
<div *ngIf="isModalOpen"
    class="fixed inset-0 bg-white bg-opacity-25 flex items-center justify-center transition-opacity duration-300 ease-in-out"
    [ngClass]="{'backdrop-blur-sm': isModalOpen}">
    <div class="bg-grayish-blue py-20 px-20 rounded-lg shadow-lg relative w-[48rem] my-auto transition-transform transform scale-95"
        *ngIf="isModalOpen" [ngClass]="{'scale-100': isModalOpen}">
        <button (click)="closeModal()" class="absolute top-2 right-4 text-white text-xl">
            <i class="fas fa-times"></i>
        </button>
        <form class="space-y-3 flex flex-col items-center justify-center" [formGroup]="formTheater">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <div>
                    <app-general-input id="name" name="name" type="text" autocomplete="name" [required]="true"
                        formControlName="name" placeholder="Nombre" />
                    <div *ngIf="formTheater.get('name')?.invalid && formTheater.get('name')?.touched"
                        class="text-red-500 text-sm">
                        El nombre es requerido.
                    </div>
                </div>
                <div>
                    <input id="schedule" type="datetime-local" formControlName="schedule" class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 
                        rounded-md shadow-sm focus:outline-none focus:ring-blue-500 
                        focus:border-blue-500 sm:text-sm" />
                    <span class="text-white text-sm">Selecciona una fecha y hora</span>
                    <div *ngIf="formTheater.get('schedule')?.invalid && formTheater.get('schedule')?.touched"
                        class="text-red-500 text-sm">
                        El horario es requerido.
                    </div>
                </div>
            </div>

            <div>
                <app-general-button text="Registrar" color="bg-strong-red" colorHover="hover:bg-light-red" class="mt-2"
                    (click)="createTheater()" />
            </div>
        </form>
    </div>
</div>