<div class="w-72 h-100 rounded-md overflow-hidden shadow-lg group relative m-5" (click)="toggleModal()">
    <img class="w-full" src="{{movieImg}}" alt="Sunset in the mountains">
    <div *ngIf="cardType === 'upcomingReleases'"
        class="title absolute bottom-0 left-0 w-full h-full bg-grayish-blue opacity-0 group-hover:opacity-100 transition-opacity flex flex-col justify-between">
        <h1 class="font-bold text-xl mt-6 text-white text-center">{{titleMovie}}</h1>
        <h1 class="font-bold text-xl mb-6 text-golden text-center cursor-pointer">Ver Sinopsis</h1>
    </div>
    <div *ngIf="cardType === 'actualMovie'"
        class="title absolute bottom-0 left-0 w-full px-6 py-4 bg-grayish-blue opacity-0 group-hover:opacity-100 transition-opacity">
        <h1 class="font-bold text-xl mb-2 text-white text-center">{{titleMovie}}</h1>
    </div>
</div>

<div *ngIf="showModal"
    class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
    <div class="relative p-4 w-full max-w-4xl max-h-full">
        <div class="relative bg-grayish-blue rounded-lg shadow overflow-hidden">
            <button (click)="toggleModal()" type="button"
                class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                </svg>
            </button>
            <div class="p-4 md:p-5 text-center flex flex-col md:flex-row">
                <div class="flex-shrink-0">
                    <div class="w-72 h-100 rounded overflow-hidden shadow-lg group relative m-5">
                        <img class="w-full" src="{{movieImg}}" alt="Sunset in the mountains">
                    </div>
                </div>
                <div class="text-start m-5 overflow-y-auto max-h-[22.5rem]">
                    <h1 class="font-bold text-xl mb-2 text-white">{{titleMovie}}</h1>
                    <span
                        class="inline-flex items-center rounded-md bg-golden px-2 py-1 text-xs font-bold text-grayish-blue ring-1 ring-inset ring-gray-500/10 mr-1 my-1">
                        {{duration}}
                    </span>
                    <span *ngFor="let genre of genres"
                        class="inline-flex items-center rounded-md bg-strong-red px-2 py-1 text-xs font-medium text-white ring-1 ring-inset ring-gray-500/10 mr-1 my-1">
                        {{genre}}
                    </span>
                    <h1 class="text-golden mt-8 font-bold">Sinopsis</h1>
                    <p class="text-white">{{synopsis}}</p>
                </div>
            </div>
            <div *ngIf="cardType === 'actualMovie'" class="flex justify-center">
                <app-general-button (click)="handleBuyTickets()" [text]="'Comprar boletos'"
                    [color]="'bg-golden border-current'" [colorHover]="'hover:bg-golden hover:bg-opacity-75'"
                    class="mb-4" />
                <app-general-button (click)="toggleModal()" [text]="'Cancelar'" [color]="'bg-white'"
                    [colorHover]="'hover:bg-white hover:bg-opacity-75'" [textColor]="'text-grayish-blue'"
                    class="mb-4 ml-1" />
            </div>
        </div>
    </div>
</div>
<div *ngIf="showModal" class="opacity-50 fixed inset-0 z-40 bg-black"></div>