<div class="h-screen w-full flex flex-col">
    <app-navbar />
    <div class="flex-grow flex flex-col items-center justify-center">
        <div class="text-center">
            <h1 class="text-grayish-blue font-bold">¡Bienvenido, {{nameVar}}!</h1>

            <img src="img/sign-in-img.png" alt="Palomitas y distintos objetos de cine" class="w-96">
            <h3 class="font-bold text-grayish-blue">¿Estás listo para empezar?</h3>
            <p class="text-grayish-blue">Usa la barra superior para acceder a las distintas funciones.</p>
        </div>
    </div>
</div>