
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <div class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center">
        <div class="bg-grayish-blue py-20 px-20 rounded-lg shadow-lg relative w-[48rem] my-auto">
            <button class="absolute top-2 right-4 text-white text-xl">
                <i class="fas fa-times"></i>
            </button>
            <form class="space-y-4">
                <div class="grid grid-cols-2 gap-4">
                    <input type="email" placeholder="Correo electrónico" class="p-2 rounded-lg bg-white text-grayish-blue w-full">
                    <input type="text" placeholder="Nombre" class="p-2 rounded-lg bg-white text-grayish-blue w-full">
                </div>
                <div class="grid grid-cols-2 gap-4">
                    <input type="text" placeholder="Apellido" class="p-2 rounded-lg bg-white text-grayish-blue w-full">
                    <input type="text" placeholder="Apellido 2" class="p-2 rounded-lg bg-white text-grayish-blue w-full">
                </div>
                <div class="grid grid-cols-2 gap-4">
                    <div class="relative">
                        <input type="password" placeholder="Contraseña" class="p-2 rounded-lg bg-white text-grayish-blue w-full">
                        <i class="fas fa-eye absolute right-3 top-1/2 transform -translate-y-1/2 text-black cursor-pointer"></i>
                    </div>
                    <div class="relative">
                        <input type="password" placeholder="Repetir contraseña" class="p-2 rounded-lg bg-white text-grayish-blue w-full">
                        <i class="fas fa-eye absolute right-3 top-1/2 transform -translate-y-1/2 text-black cursor-pointer"></i>
                    </div>
                </div>
                <div class="flex justify-center mt-8">
                    <button type="submit" class="bg-red-600 text-white py-2 px-8 rounded-lg">Registrar</button>
                </div>
            </form>
        </div>
    </div>
