<div class="relative mt-2 rounded-md shadow-sm w-full">
    @if (icon) {
    <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
        <!-- Proyecta el ícono aquí si existe -->
        <ng-content select="[icon]"></ng-content>
    </div>
    }
    <input [placeholder]="placeholder" [id]="id" [name]="name" [type]="type" [attr.autocomplete]="autocomplete"
        [attr.required]="required ? true : null" [ngClass]="{'pl-8': icon, 'pl-3': !icon}"
        class="block rounded-md w-full border-0 py-2.5 pr-20 placeholder-grayish-blue text-grayish-blue font-semibold"
        (input)="onInput($event)" (blur)="onBlur()" [value]="value">
    @if(type === 'password') {
    <div class="absolute inset-y-0 right-0 flex items-center">
        <!-- Si necesitas agregar algo a la derecha, va aquí -->
    </div>
    }
</div>